* {
    box-sizing: border-box;
}

html {
    background-image: url('div-back2.png');  
}

main > header {
    background: rgba(43, 81, 102, 0.6);
}

main > section {
    background: rgba(43, 81, 102, 0.6);
}

main > footer {
    background: rgba(43, 81, 102, 0.6);
}

body {
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    min-height: 97.5vh;
    max-width: 1600px;
    gap: 10px;
    grid-template-areas: 
    'head head head'
    'sidebar list list'
    'sidebar list list'
    'footer footer footer'
}

main > header  {
    grid-area: head ;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
  }

  main > .sidebar {
    grid-area: sidebar;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
  }

  main > .platform  {
    grid-area: platform;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
  }

  main > .list  {
    grid-area: list;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
  }

  main > footer {
    grid-area: footer;
    border: 5px double black;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list > .platform {
    
    
}

.list > .projects {
    
}

.projects > .list-item {
    display: flex;
    
}

.projects > .list-item div {
    
    width: 20%;
    padding: 5px;
}

.projects > .list-inputs {
    display: flex;
    border: 5px double black;
}

.projects > .list-inputs div {
    border-right: 1px solid black;
    width: 20%;
    padding: 5px;
    font-size: 14px;
    
}

.list-item > div {
    font-weight: 600;
}

.img {
    width: 100%;
}


/* link styling */


a {
    text-decoration: underline;
    color: inherit; 
  }
  

  a:visited {
    color: inherit;
  }
  


/* this is the bare bones functional layout   \/ \/ \/

* {
    box-sizing: border-box;

}

main > header {
    background: lightblue;
}

main > section {
    background: lightblue;
}

main > footer {
    background: lightblue;
}

body {
    font-family: 'Orbitron', sans-serif;
}

main {
    display: grid;
    border: 1px solid black;
    min-height: 97.5vh;
    gap: 10px;
    grid-template-areas: 
    'head head head'
    'sidebar list list'
    'sidebar list list'
    'footer footer footer'
}

main > header  {
    grid-area: head ;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px;
  }

  main > .sidebar {
    grid-area: sidebar;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 10px;
  }

  main > .platform  {
    grid-area: platform;
    border: 1px solid yellow;
    border-radius: 20px;
    padding: 10px;
  }

  main > .list  {
    grid-area: list;
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
  }

  main > footer {
    grid-area: footer;
    border: 1px solid purple;
    border-radius: 20px;
    padding: 10px;
}

.list > .platform {
    border: 1px solid red;
    
}

.list > .projects {
    border: 1px solid orange;
}

.projects > .list-item {
    display: flex;
    border: 1px dotted blue;
}

.projects > .list-item div {
    border: 1px dotted green;
    width: 20%;
    padding: 5px;
}

.projects > .list-inputs {
    display: flex;
    border: 1px dotted blue;
}

.projects > .list-inputs div {
    border: 1px dotted green;
    width: 20%;
    padding: 5px;
    font-size: 14px;
    
}

.img {
    width: 100%;
}

*/






